.email-content-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 8px 40px 0;
	width: 57%;
	height: 100%;
	border-radius: 0 16px 16px 0;
	background-color: var(--mui-palette-background-paper);

	.email-input {
		margin-bottom: 74px;
	}
}
