.loader-wrap {
	background: var(--loader-background) url('../../images/loader.svg') no-repeat center center / contain;
	width: 100%;
	height: 100%;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	@include middleFlex();

	&.transition {
		transition: opacity 1s ease;
	}

	&.animate.visible {
		opacity: 1;
	}

	.loader-content {
		width: 204px;
		@include middleFlex();
		flex-wrap: wrap;

		img {
			display: block;
		}

		.loader {
			margin: 27px 0 29px;
			height: 8px;
			background: rgba(var(--indicator-background-rgb), 0.3);
			border-radius: 20px;
			width: 100%;
			overflow: hidden;

			.loader-bar {
				width: 40%;
				border-radius: 20px;
				height: 8px;
				background: rgba(var(--indicator-background-rgb), 1);
				animation-name: indicator;
				animation-timing-function: ease;
				animation-duration: 1.6s;
				animation-iteration-count: infinite;
			}
		}
	}
}

@keyframes indicator {
	0%   { transform: translateX(0); }
	50%  { transform: translateX(122px); }
	100% { transform: translateX(0); }
}
