.forgot-password-wrapper {
	@extend .fullSize;
	@extend .flex-center;
	background-color: var(--mui-palette-background-default);

	.forgot-password-container {
		display: flex;
		flex-direction: row;
		width: 736px;
		height: 446px;
		border-radius: 16px;

	}
}
