.otp-content-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 8px 40px 0;
	width: 57%;
	height: 100%;
	border-radius: 0 16px 16px 0;
	background-color: var(--mui-palette-background-paper);

	.otp-container-style {
		display: flex;
		flex-direction: row;
		justify-content: center;

		.otp-input {
			width: 64px !important;
			height: 64px;
			font-size: 24px;
			font-weight: 600;
			line-height: 36px;
			font-family: Inter, sans-serif;
			color: #2f8dd9;
			border: 1px solid #333333;
			opacity: 0.5;
			margin-right: 12px;
			background-color: #FFFFFFB2;
			border-radius: 16px;
		}
	}
}
