.signInWrapper {
	display: flex;
	justify-content: center;

	@keyframes example {
		from {top: 0;}
		to {top: 200px; background-color: lightskyblue;}
	}

	.container {
		display: flex;
		flex-direction: column;
		align-items: center;
		min-width: 20%;
		background-color: whitesmoke;
		position: relative;
		animation-name: example;
		animation-duration: 0.8s;
		animation-fill-mode: forwards;
		opacity: 0.8;
		border-radius: 20px;
		padding: 40px;


		.input {
			margin-top: 10px;
		}

		h1 {
			font-size: 22px;
			font-weight: bold;
		}

		Button {
			margin-top: 20px;
		}
	}
}

