.sign-in-wrapper {
	@extend .fullSize;
	@extend .flex-center;
	background-color: #EFF1F2;

	.sign-in-container {
		display: flex;
		flex-direction: row;
		width: 736px;
		height: 446px;
		border-radius: 16px;

		.form-wrapper {
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding: 8px 40px 0;
			width: 57%;
			height: 100%;
			border-radius: 0 16px 16px 0;
			background-color: #ffffff;

			.sign-in-login-title {
				font-size: 24px;
				font-weight: 700;
				line-height: 33px;

				color: #000000;
				margin-bottom: 64px;
			}

			.sign-in-input {
				width: 100%;

				&:not(:first-child) {
					margin-top: 24px;
				}
			}

			.link-checkbox-wrapper {
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: space-between;
				margin-top: 15px;

				.forgot-password {
					font-family: "Roboto", sans-serif;
					font-size: 14px;
					font-weight: 600;
					line-height: 19px;
					color: #407AFF;
					text-decoration: none;
				}
			}


			.submit-button {
				font-weight: bold;
				margin-top: 20px;
			}
		}
	}
}

