.logo-wrap {
  width: 64px;
  height: 57px;
  margin: 20px auto 0;

  img {
    display: block;
    width: 100%;
    height: auto;
  }

  p {
    width: 100%;
    height: 11px;
    background: var(--light-gray);
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    color: var(--black);
    text-align: center;
    margin: 5px 0 0;
  }
}
