.provably-fairness {
	.provably-fairness-button {
		display: flex;
		flex-direction: row;
		align-items: center;
		padding: 0 12px ;
		min-width: 147px;
		height: 32px;
		background: linear-gradient(135deg, #2B7550 0%, #0E3F27 100%);
		border-radius: 14px;
		border: none;
		cursor: pointer;

		span {
			display: block;
			@include font(12px, 400, var(--white), 15px);
		}

		img {
			margin: 0 4px 0 0
		}
	}
}


