.timerContainer {
    display: flex;
	justify-content: space-between;
	align-items: center;

	p {
		color:black;
	}

	.resendButton {
		font-weight: bold;
		color: black;
		text-decoration: underline;
	}
}


