.timerContainer {
    display: flex;
	justify-content: space-between;
	align-items: center;

	p {
		color: var(--mui-palette-text-primary);
	}

	.resendButton {
		font-weight: bold;
		color: #FFFFFFB2;
		text-decoration: underline;
	}
}


