.round-progress {
	width: 100%;
	height: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	left: 0;
	bottom: 0;
	transition: all 0.7s ease;
	z-index: 1;

	&.green {
		background: #29A768;
	}

	&.red {
		background: #8A152C;
	}

	p {
		@include font(14px, 500, var(--white));

		span {
			@include font(14px, 900, var(--white));
			margin: 0 0 0 2px;
		}
	}

	.round-progress-bar {
		position: absolute;
		height: 100%;
		left: 0;
		top: 0;
		background: rgba(0, 0, 0, 0.2);

		&.animate {
			transition: width 1s linear;
		}
	}
}


