aside.main-sidebar {
	height: 100%;
	border-right: 1px solid lightgray;
	transition: all 0.3s ease;
	overflow-x: hidden;
	overflow-y: auto;

	nav {
		width: var(--sidebar-width-opened);
	}

	&.opened {
		width: var(--sidebar-width-opened);
	}

	&.closed {
		width: var(--sidebar-width-closed);
	}
}
