.main-header {
	position: fixed;
	top: 0;
	right: 0;
	display: flex;
	align-items: center;
	height: var(--header-height);
	padding:  0 26px 0 24px;
	background: var(--mui-palette-background-default);
	border-bottom: 1px solid var(--mui-palette-border-secondary);
	transition: all 0.3s ease;

	.header-menu-icon  {
		background: var(--mui-palette-background-paper);
	}

	&.opened {
		width: calc(100% - var(--sidebar-width-opened));
	}

	&.closed {
		width: calc(100% - var(--sidebar-width-closed));
	}
}

.header-language-item{
	background-color: red;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0px;
	isolation: isolate;

	width: 123px;
	height: 36px;
}
