aside.sidebar {
	width: var(--sidebar-width);
	padding-left: 2px;
	height: 100%;
	position: relative;
	background-color: rgba(var(--black), 0.3);
	background-image: url('../../images/sidebar-background.svg');
	background-repeat: no-repeat;
	background-position: right top;
	background-size: auto 100%;
	backdrop-filter: blur(54px);
	z-index: 100;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		width: 2px;
		height: 100%;
		background: linear-gradient(
				180deg,
				rgba(143, 164, 206, 0) 0%,
				rgba(83, 124, 207, 0.75) 50.42%,
				rgba(143, 164, 206, 0) 100%
		);
	}

	.sidebar-info-wrap {
		width: 334px;
		height: 353px;
		position: relative;
		margin: 18px auto 0;
		z-index: 1;

		.sidebar-info-wrap-background {
			height: 100%;
			width: 100%;
			position: relative;
			padding: 12px;
			border: 1px solid transparent;
			border-radius: 10px;
			background: var(--box-background);
			background-clip: padding-box;

			&:before {
				position: absolute;
				top: -1px;
				bottom: -1px;
				left: -1px;
				right: -1px;
				background: var(--box-background);
				content: '';
				z-index: -1;
				border-radius: 10px;
			}

			&:after {
				position: absolute;
				top: -1px;
				bottom: -1px;
				left: -1px;
				right: -1px;
				background: linear-gradient(
						rgba(91, 136, 226, 0.2) 0%,
						rgba(91, 136, 226, 0.6) 50%,
						rgba(91, 136, 226, 0.2) 100%
				);
				content: '';
				z-index: -1;
				border-radius: 10px;
			}
		}
	}

	.bottom-panel {
		margin: 14px auto 0;
		width: 334px;
		display: flex;
		justify-content: space-between;
		align-items: center;

		.panel-icons {
			width: 152px;
			display: flex;
			justify-content: space-between;
		}
	}
}

.sidebar-panel-item {
	.panel-item-button {
		width: 32px;
		height: 32px;
		border-radius: 24px;
		background: var(--dark-blue);
		border: none;
		padding: 0;
		cursor: pointer;
		position: relative;
		transition: all 0.3s ease;

		&:after {
			content: '';
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 6px 7px 6px;
			border-color: transparent transparent var(--dark-blue) transparent;
			position: absolute;
			bottom: 29px;
			left: 50%;
			transform: translateX(-50%);
			opacity: 0;
			transition: all 0.3s ease;
		}

		&.arrow-bottom {
			&:after {
				border-width: 7px 6px 0 6px;
				top: 29px;
				bottom: auto;
				border-color: var(--dark-blue) transparent transparent  transparent;
			}
		}

		i {
			color: var(--white);
			font-size: 20px;
			line-height: 20px;
			height: 20px;
			display: block;
		}

		&.active {
			background: var(--mid-blue);
			z-index: 101;

			&:after {
				border-color: transparent transparent var(--mid-blue) transparent;
				opacity: 1
			}

			&.arrow-bottom {
				&:after {
					border-color: var(--mid-blue) transparent transparent  transparent;
					opacity: 1
				}
			}
		}
	}
}
