:root {
	--mui-palette-primary-main: #407aff;
	--mui-palette-primary-light: #6694FF;
	--mui-palette-primary-dark: #2C55B2;
	--mui-palette-primary-contrastText: #fff;
	--mui-palette-secondary-main: #f50057;
	--mui-palette-secondary-light: #F73378;
	--mui-palette-secondary-dark: #AB003C;
	--mui-palette-secondary-contrastText: #fff;
	--mui-palette-background-default: #EFF1F2;
	--mui-palette-background-paper: #fff;
	--mui-palette-text-primary: #0000;
	--mui-palette-text-secondary: #333333;
	--mui-palette-text-disabled: #606C80;
	--mui-palette-border-primary: #333333;
}
