@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@include font-face(
		'roulette',
		'AAEAAAANAIAAAwBQRkZUTZRr8fsAABHcAAAAHEdERUYAKQAZAAARvAAAAB5PUy8yT/tcvgAAAVgAAABWY21hcDVnIO8AAAHgAAABcGdhc3D//wADAAARtAAAAAhnbHlmj8LjqwAAA3gAAAvIaGVhZB+X7UcAAADcAAAANmhoZWEEMgIFAAABFAAAACRobXR4B2UBBAAAAbAAAAAubG9jYRZ6GbgAAANQAAAAKG1heHAAXgCXAAABOAAAACBuYW1ld8ux9QAAD0AAAAGPcG9zdMWr9bAAABDQAAAA4QABAAAAAQAAXjkfTl8PPPUACwIAAAAAAN8/ViEAAAAA3z9WIf/3AAACBAIIAAAACAACAAAAAAAAAAEAAAIIAAAALgIA//cAAAIEAAEAAAAAAAAAAAAAAAAAAAAEAAEAAAATAJQACQAAAAAAAgAAAAEAAQAAAEAAAAAAAAAAAQIAAZAABQAIAUwBZgAAAEcBTAFmAAAA9QAZAIQAAAIABQkAAAAAAAAAAAABAAAAAAAAAAAAAAAAUGZFZABAAGEAcQHg/+AALgIIAAAAAAABAAAAAAAAAgAAAAAAAAACAAAAAgAABAAzABUAQP/3ABYAOAArAAAAAAArACsAZgA4ACsATQAAAAAAAwAAAAMAAAAcAAEAAAAAAGoAAwABAAAAHAAEAE4AAAAIAAgAAgAAAAAAYQBx//8AAAAAAGEAY///AAD/ogAAAAEAAAAAAAQAAAAEAA4ABQAGAAcACAAJAA0ADwAKAAsADAAQABEAEgAAAQYAAAEAAAAAAAAAAQIAAAACAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADAAQOBQYHCAkNDwoLDBAREgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABYAKoBEgFEAXoBsgH0AtADOgPSBCgEagScBSgFpAXkAAQABAAUAfwB9gAQABwALQA5AAA2Ii8BJjQ/ATYXFhQPARcWFDchIiY0NjMhMhYUDgEiLwEmND8BNhcWFA8BFxYUNyEiJjQ2MyEyFhQG+RIH1QcH1RAQBwfFxQfe/jcKDQ0KAckKDQ32EgfVBwfVEBAHB8XFB97+NwoNDQoByQoNDRQH1QcTBtYQEAYUB8XFBxLHDRQNDRQN1QfVBxMG1hAQBhQHxcUHEscNFA0NFA0AAwAzAE0B3gHNACEAMQA9AAABMhYdARQGIyImPQE0IyEiFREUOwEyFhQGKwEiJjURNDYzBTIWHQEUBisBIiY9ATQ2Mxc0KwEiHQEUOwEyNQHJCQwNCAkNB/66CAhjCA0NCIAKDAwKAYAJDAwJqwkMDAmVB3EICHEHAc0MCoAIDQ0IYwgI/uUIDBIMDAkBVQoM1gwJgAkMDAmACQwyCAhGCAgAAAAGABUAgAHXAZUADwAbACsANwBHAFMAADc1NDY7ATIWHQEUBisBIiY3NCsBIh0BFDsBMjUzNTQ2OwEyFh0BFAYrASImNzQrASIdARQ7ATI1MzU0NjsBMhYdARQGKwEiJjc0KwEiHQEUOwEyNRUVDjQOFRUONA4VYAk0CQk0CUQVDjQOFRUONA4VYAk0CQk0CUQVDjQOFRUONA4VYAk0CQk0CaOcDhQUDpwOFRWqCAicCQnQDhQUDtAOFRXeCAjQCQmcDhQUDpwOFRWqCAicCQkAAQBAAEABwAHAACIAAAEjIgYUFjsBATU0JiMiHQEUOwEyNjU0JisBARUUFjMyPQE0Aa2ECAoLB1T+6AoIExOECAoLB1gBHAoIEwHACxAL/uZYCAsThRMLCAcLAR5bCAsThRMAAAH/9wAAAgACCAAfAAABNzY0JyYPAScmIyIHBhQfAQcGFxYzFj8BFxYyNzY0JwEh2AcHEQ/Z1QcKCQcGBtXYEBAGCgoH2NkGFAYHBwEA1wcTBxAP2NgHBwcSBtfXERAHAgfY2gcHBxMHAAAAAAEAFgB4AfkBmQAlAAABIyIPATU0JyYPAQYrASIGFBY7ATI/ARUUFxYzMj8BNjsBMjY0JgHoQRsQZBESDWwKCkEHCgoHQRoTYREIAwwIbQoKQQcKCgEXEmPWEwcHDW0ICg4KE2PXEggCCG0ICg4KAAABADgAKgG8AdwAJQAAATc2Jg8BBh8BFjYvAR4CBgcGJicmNjc2JyYHDgEeATc+AScuAQELEAsWCysLCysLFgsONkwKPDQ0ZRscECkJCggNMRNEfD8+RwgIXwGqEAwWCysLCysLFgwOB05sWxARJy8vayULCgoHLYNyLhYVcEJBXAAAAAAJACsAXAHLAZsADgAcADAAQgBSAGQAdACJAJMAABMzFTIXFgcGByMGJyY3NhcmJyMmBwYXFjczMjc2FyInJicmNzY0JyY3NhcyFxYUBwYXIicmNSY3NjQnJjc2FxYUBwYnIicmNzY0JyY3NhcWFAcGJyInJjQ3NjMWFxYHBhQXFgcGByInJjQ3NhcWBwYUFxYHBjciJyY1NDc2FzIXFgcGFBcWBwYHBhYiPQE0NjIWHQH5AhYNEREMFwIcDQ8PDScDBgEIBAUFBAgBBgMFQAYEBQICBQ4OCAsGBgUGFBQFRQUFBgEEIiIJDA0JKioFLQYDDQkZGQgLCwsfHwXJCAUUFAQLCAUDBQ4OCQ0EUQkEKSkKDAwJIyMLDQUhBwYeHwYJCgMDBhgYBAEBBgN+IAkOCQFEARMZGBICAhcXGBcoBAICCAYHCAIFB0MEAwcGBhIuEgwJBQIGG0MaBjwDBAcGBixyLAwKCQw1iDUHIAMJDR9QHwwJCwsoZigGHgcaRBoHAggICBIuEgwLAzwGNYg1CggJDSxyLQ0JAx4GJzQzKAgCCggIIE4gBgYHBANaEFYGCgoGVgAAAAQAAABDAgQBtQAZADMAPQBHAAATNjMyFxYVERQHBi8BJisBIiY9ATQ2OwEyNxcyNjURNCYjIg8BBicjIgcGHQEUOwE2HwEWNzYfARYHBi8BJjcWDwEGJyY/ATb3DQ4VDQ4ZGhiIDQ4kFBwcFCQODaMGCQkGAwaIFhckBwUEECQXFogGZAsNbgsLDQxtDZMLC24NCw0NbQwBrQgNDhT+9B0NDRBbCBwTNhMcCOcJBgEMBgkCXA0BBQQINRABDVwC1gsLbgwNCwtuDA0NDG4LCwwNbgsABQAAAEMB9gG1ABkAMwBHAFgAaAAAEzYzMhcWFREUBwYvASYrASImPQE0NjsBMjcXMjY1ETQmIyIPAQYnIyIHBh0BFDsBNh8BFjciJyY1Jjc2NCcmNzYXMhcWFAcGFyImJzQ3NjQnJjc2FxYUBwYvASY3NjQnJjc2FxYVFAcG9w0OFQ0OGRoYiA0OJBQcHBQkDg2jBgkJBgMGiBYXJAcFBBAkFxaIBmgFBQYCBA0NCAwFBgYFExMFQwYIAgQiIgkLDQooKAYsCQsIFxcJDAsKHh4GAa0IDQ4U/vQdDQ0QWwgcEzYTHAjnCQYBDAYJAlwNAQUECDUQAQ1cAlgDBAYHBRItEgwIBQIGGkIaBTsGBwgEK3AsCgsJDDSFNAYeAwkMH04fDAkJCiU0MicGAAAAAAIAKwAaAdAB7gAOADQAABMmBwYfARUUFjI2PQE0LwE3NicmDwEGHwEWNzYvAR4BFxYOASYnJjY3NiYHDgEeAT4BJy4BzgsLCwpRCQ4JBRMRCwsNCy8MDC8LDQ0NDztSBQVBcG4dHhEsCRQMNRVKhohNCQhoAVoLDAsLUGUGCgoGawYFtBENCw0MLgwNLgsLDQwPCFM6O2EkKjIzcygNFAcxjXoyLnlHRmQAAAAEACsANAHMAdUACwAVAB4ALAAAEyIGFRQWMzI2NTQmAiImNTQ2MzIWFCciFRQXMjY1JgciBhcVFBYzMjY9ATQm/Fd6eldWenoNkmhnSklnsA8PBgoCDgcKAQkHBgoKAdV6V1Z6elZXev5/Z0lKZ2iSmRAOAgoGED0KBkMGCgoGQwYKAAACAGYAQQGxAb8ADQAeAAATFxYUDwEGJyY9ATQ3NhM3NjQvASYjIgYdARQXFjMy17QmJrQmJSYmJQ+1Dw+1BQoMEgkLCggBqWgXVBdoFhYVLNAsFRb+v2gIJAhoBBEN0A0JCQAAAgA4AEEBzwHAAC0AXQAAEz4BMzIfAR4BOwE2HgEGDwEGHwEWBwYjIi8BJg8BBiMiJj8BNi8BJjc2OwEyPwEmIg8BDgEnIwYHBh8BHgEPAQYXFjMyPwE2Mh8BFjM2NzYvASY2PwE2JyYrASImJ9gEGg8kCg4EGg8tEBoKCg0lHQwOCA8OGg8NIxsdJQ0PGhwIDgwdJBwKDCIsJApHAxICDggtGy0IAwIGJRYQCA4CBAMHBAMkFzUXIwMEBwMEAg4IEBYlBgIDCC0bLAgBnw8SISsPEgETHh4JGxQhKxcUFAoaFBQaCygYKyEUGxQiISEgCAkrGiABAgcIBRoQNBorBgQGAxoRERkDAgQEBisaNBAaBAkIIBoAAAUAKwA0AcwB1QALABUARABQAFwAABM0NjMyFhUUBiMiJjcUFjI2NCYjIgYXIhUXFB8BFhcWFAYrASImNTQ2MzIVFDsBMjUnNC8BJicmNTQ2OwEeARUUIjU0IwcyHQEUBiImPQE0NjQyFh0BFAYiJj0BNCt6V1Z6elZXeiBokmdnSUpnnwoCBTgOBwkaEiMVHAsHEQ4jCQEFOA4ICRoTIxQcIg4QEgsOCgoOCwsOCgEEV3p6V1Z6elZJZ2eSaGceCwcCARQGCQomHB4VBwsSDwsHAgEUBgkMERMcAR4UEhIPYhESBwoKBxIHCpgKBxMHCgoHEwcAAAAABABNAE0BswGzAAwAGQAmADMAAAE0KwEiFDsBFRQyPQEnIzEiHQEUMj0BMzI0AyM1NCIdATEUOwEyNDYiHQEjIhQ7ATEyPQEBswtlCwtaFvZlCxZaCwtaFgtlC+sWWgsLZQsBqAsWWgsLZQsLZQsLWhb+sFoLC2ULFmULWhYLZQAAAAwAlgABAAAAAAABAAgAEgABAAAAAAACAAcAKwABAAAAAAADACMAewABAAAAAAAEAAgAsQABAAAAAAAFAAsA0gABAAAAAAAGAAgA8AADAAEECQABABAAAAADAAEECQACAA4AGwADAAEECQADAEYAMwADAAEECQAEABAAnwADAAEECQAFABYAugADAAEECQAGABAA3gByAG8AdQBsAGUAdAB0AGUAAHJvdWxldHRlAABSAGUAZwB1AGwAYQByAABSZWd1bGFyAABGAG8AbgB0AEYAbwByAGcAZQAgADIALgAwACAAOgAgAHIAbwB1AGwAZQB0AHQAZQAgADoAIAA4AC0AOQAtADIAMAAyADIAAEZvbnRGb3JnZSAyLjAgOiByb3VsZXR0ZSA6IDgtOS0yMDIyAAByAG8AdQBsAGUAdAB0AGUAAHJvdWxldHRlAABWAGUAcgBzAGkAbwBuACAAMQAuADAAAFZlcnNpb24gMS4wAAByAG8AdQBsAGUAdAB0AGUAAHJvdWxldHRlAAAAAgAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAATAAAAAQACAQIBAwEEAQUBBgEHAQgBCQEKAQsBDAENAQ4BDwEQARETYXJyb3ctbGVmdC1vdXRsaW5lZAVncm91cAlzdGF0aXN0aWMLZnVsbHNjcmVlbjEFY2xvc2UGbWV0cmljBnJlcGVhdAZzaWduYWwLdm9sdW1lLW11dGUGdm9sdW1lC2JldC1oaXN0b3J5EmluZm9ybWF0aW9uLWNpcmNsZQRwbGF5BHN0YXIGbGltaXRzCmZ1bGxzY3JlZW4AAAAAAAAB//8AAgABAAAADAAAABYAAAACAAEAAwASAAEABAAAAAIAAAAAAAAAAQAAAADV7UW4AAAAAN8/ViEAAAAA3z9WIQ=='
);

[data-icon]:before {
	font-family: 'roulette' !important;
	content: attr(data-icon);
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^='icon-']:before,
[class*=' icon-']:before {
	font-family: 'roulette' !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left-outlined:before {
	content: "\61";
}
.icon-group:before {
	content: "\63";
}
.icon-statistic:before {
	content: "\65";
}
.icon-fullscreen1:before {
	content: "\66";
}
.icon-close:before {
	content: "\67";
}
.icon-metric:before {
	content: "\68";
}
.icon-repeat:before {
	content: "\69";
}
.icon-signal:before {
	content: "\6c";
}
.icon-volume-mute:before {
	content: "\6d";
}
.icon-volume:before {
	content: "\6e";
}
.icon-bet-history:before {
	content: "\6a";
}
.icon-information-circle:before {
	content: "\64";
}
.icon-play:before {
	content: "\6b";
}
.icon-star:before {
	content: "\6f";
}
.icon-limits:before {
	content: "\70";
}
.icon-fullscreen:before {
	content: "\71";
}
