html, body, #root, .app {
	@extend .fullSize;

	background: var(--mui-palette-background-default);
}

body {
	font-family: Roboto, Helvetica, Arial, sans-serif;
}

.app-container {
	@extend .fullSize;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
}

.main-content {
	padding: var(--header-height) 0 0 0;
	transition: all 0.3s ease;
	overflow: hidden;

	&.opened {
		width: calc(100% - var(--sidebar-width-opened));
	}

	&.closed {
		width: calc(100% - var(--sidebar-width-closed));
	}
}
